<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="FileHandler.ashx" type="Lang.FileHandler"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0" />
    <pages styleSheetTheme="Standard" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"
              protection="All"
              timeout="30"
              name=".ASPXAUTH"
              path="/"
              requireSSL="false"
              slidingExpiration="true"
              defaultUrl="default.aspx"
              cookieless="UseDeviceProfile"
              enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="Data.Properties.Settings.LangDatabaseConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\PRJ\Lang\Data\LangDatabase.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
